@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Caja de reseteo de estilo*/
*{
  padding: 0;
  margin: 0;  
  text-decoration: none;
  list-style: none;
}

body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Colores*/
:root{
    --color__principal: #202020;
    --color__secundario:rgb(66, 66, 66);
    --color__terciario: #03ff85;
    /* colores basicos*/
    --color__blanco : #ebebeb;
    --color__negro: #000000;
}

nav{
    background: var(--color__secundario);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9;
}

label.logo{
    color: var(--color__blanco);
    font-size: 35px;
    line-height: 80px;
    padding: 0 14px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 7px;
}
nav ul li a{
    color: var(--color__blanco);
    font-size: 17px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a:hover{
    background-color: var(--color__terciario);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: var(--color__blanco);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
/* . para clase y # para identificador*/

#check{
    display: none;
}

@media (max-width:952px){
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color__negro);
        top: 80px;
        left: -100%;
        text-align: center;
        transition:  all .5s;
        z-index: 2;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 19px;
    }
    a:hover{
        background: var(--color__secundario)
    }

    #check:checked ~ ul{
        left: 0;
    }
}
/****** Seccion de imagen y bienvenida *****/

.hero{
    background: linear-gradient(to bottom, #04d3da67, #26262667), url("../img/imgprincipal.png");
    background-size: cover;
    height: 50vh;
    text-align: center;
    border-bottom: 5px solid #1C6EA4;
    border-radius: 0px 0px 70px 0px;
}

h2{
    color: var(--color__blanco);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;

}
h3{
    color: var(--color__blanco);
    font-size: 19px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}


/* padre */
.flex__container{
    background-color: var(--color__secundario);
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 50px auto;
    justify-content: center;
    padding: 10px;
    -webkit-box-shadow: 14px 10px 19px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 19px -14px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 19px -14px rgba(0,0,0,0.75);
    border-radius: 20px;
}

/* Ejercicio Flexbox*/
.box__01{
    font-size: 25px;
    background-color: var(--color__primario);
    background: linear-gradient(to bottom, #0373f44d, #d400ff7d), url("https://images.unsplash.com/photo-1580655653885-65763b2597d0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
    background-size: cover;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--color__blanco) 5px;
    color: var(--color__blanco);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.box__02{
    font-size: 25px;
    background-color: var(--color__secundario);
    background:linear-gradient(to bottom, #0373f44d, #d400ff7d), url("https://images.unsplash.com/photo-1545108629-89e675f81d96?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
    background-size: cover;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--color__blanco) 5px;
    color: aliceblue;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.box__03{
    font-size: 25px;
    background-color: var(--color__primario);
    background:linear-gradient(to bottom, #0373f44d, #d400ff7d), url("https://images.unsplash.com/photo-1594014390932-286596f6f6f4?q=80&w=1153&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
    background-size: cover;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--color__blanco) 5px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--color__blanco);
}

.box__04{
    font-size: 25px;
    background-color: var(--color-secundario);
    background:linear-gradient(to bottom, #0373f44d, #d400ff7d), url("https://images.unsplash.com/photo-1573030945625-4fcd30afc35a?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
    background-size: cover;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--color__blanco) 5px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--color__blanco);
}

/* Footer */

.footer{
    background: var(--color__principal);
    padding: 30px 0px;
    text-align: center;color: var(--color__blanco);
}
.footer a{
    font-size: 17px;
    color: var(--color__blanco);
}

.footer .contenido__footer{
    width: 100%;
    margin: 30px 0px;
    text-decoration: none;
}

.footer .contenido__footer ul{
    width: 100%;
}


 .footer .contenido__footer a i{
    font-size: 27px;
    margin: 0 19px;
 }

 @media (max-width: 720px){
    .footer{
        text-align: left;
        padding: 15px;
    }


    .footer .contenido__footer ul li{
        display: block;
        margin: 20x 0px;
        text-align: left;
    }
 }